# Description:
  - This example shows how to retrieve data from Azure SQL DB by using Open AI GPT.
  - Asking questions in plain english that gets "translated" by GPT into SQL.
  - Using Langchain SQLDatabaseChain
  
## Requirements:
  - For this laboratory you need the Microsoft ODBC 18 driver installed in your system:
    - Windows: https://learn.microsoft.com/en-us/sql/connect/odbc/download-odbc-driver-for-sql-server?view=sql-server-ver16#download-for-windows
    - Mac: https://learn.microsoft.com/en-us/sql/connect/odbc/linux-mac/install-microsoft-odbc-driver-sql-server-macos?view=sql-server-ver15#microsoft-odbc-18
    - Linux: https://learn.microsoft.com/en-us/sql/connect/odbc/linux-mac/installing-the-microsoft-odbc-driver-for-sql-server?view=sql-server-ver15&tabs=ubuntu18-install%2Cubuntu17-install%2Cdebian8-install%2Credhat7-13-install%2Crhel7-offline#18

## Sample questions you can ask:
  - List the tables in the database
  - How many products are in the Adventure Works database?
  - How many Products are color black?
  - How many SalesOrderDetail are for the Product AWC Logo Cap ?
  - List the top 10 most expensive products

## For more information about Langchain agent toolkits, see:
  https://python.langchain.com/docs/modules/agents/tools/toolkits

In [2]:
from langchain_openai import AzureChatOpenAI
from dotenv import load_dotenv
import os
from sqlalchemy import create_engine, text
from sqlalchemy.engine import URL
from langchain_community.utilities.sql_database import SQLDatabase
from langchain_community.agent_toolkits import create_sql_agent, SQLDatabaseToolkit
from langchain.chains import create_sql_query_chain

load_dotenv()
OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")
OPENAI_DEPLOYMENT_ENDPOINT = os.getenv("OPENAI_DEPLOYMENT_ENDPOINT")
OPENAI_GPT35_DEPLOYMENT_NAME = os.getenv("OPENAI_GPT35_DEPLOYMENT_NAME")
OPENAI_GPT4_DEPLOYMENT_NAME = os.getenv("OPENAI_GPT4_DEPLOYMENT_NAME")

SQL_SERVER = os.getenv("SQL_SERVER")
SQL_USER = os.getenv("SQL_USER")
SQL_PWD = os.getenv("SQL_PWD")
SQL_DBNAME = os.getenv("SQL_DBNAME")

In [3]:
def init_llm(model=OPENAI_GPT35_DEPLOYMENT_NAME,
             deployment_name=OPENAI_GPT35_DEPLOYMENT_NAME,
             openai_api_version="2024-02-15-preview",
             temperature=0,
             max_tokens=400
             ):

    llm = AzureChatOpenAI(deployment_name=deployment_name,
                            model=model,
                            openai_api_version=openai_api_version,
                            azure_endpoint=OPENAI_DEPLOYMENT_ENDPOINT,
                            temperature=temperature,
                            max_tokens=max_tokens
                            )
    return llm

llm = init_llm()

In [4]:
# Configuration for the database connection
db_config = {
    'drivername': 'mssql+pyodbc',
    'username': SQL_USER + '@' + SQL_SERVER,
    'password': SQL_PWD,
    'host': SQL_SERVER,
    'port': 1433,
    'database': SQL_DBNAME,
    'query': {'driver': 'ODBC Driver 18 for SQL Server'},
}

# Create a URL object for connecting to the database
db_url = URL.create(**db_config)

# Connect to the Azure SQL Database using the URL string
engine = create_engine(db_url)

# Test the connection using the SQLAlchemy 2.0 execution style
with engine.connect() as conn:
    try:
        # Use the text() construct for safer SQL execution
        result = conn.execute(text("SELECT @@VERSION"))
        version = result.fetchone()
        print("Connection successful!")
        print(version)
    except Exception as e:
        print(e)

db = SQLDatabase.from_uri(db_url, schema='SalesLT')

Connection successful!
('Microsoft SQL Azure (RTM) - 12.0.2000.8 \n\tFeb  2 2024 04:20:23 \n\tCopyright (C) 2022 Microsoft Corporation\n',)

In [5]:
chain = create_sql_query_chain(llm, db)

In [6]:
query = chain.invoke({"question":"How many products are in the Adventure Works database using SalesLT schema?"})
print("Query generated by OpenAI: " + query)

Query generated by OpenAI: SELECT COUNT(*) AS TotalProducts
FROM [SalesLT].[Product]

In [7]:
db.run(query)

'[(295,)]'

In [8]:
query = chain.invoke({"question":"How many Products are color black?"})
print("Query generated by OpenAI: " + query)

Query generated by OpenAI: SELECT COUNT(*) AS BlackProductsCount
FROM [SalesLT].[Product]
WHERE [Color] = 'Black'

In [9]:
db.run(query)

'[(89,)]'

In [10]:
query = chain.invoke({"question":"How many SalesOrderDetail are for the Product AWC Logo Cap ?"})
print("Query generated by OpenAI: " + query)

Query generated by OpenAI: SELECT COUNT(*) AS TotalSalesOrderDetail
FROM [SalesLT].[SalesOrderDetail] sod
JOIN [SalesLT].[Product] p ON sod.ProductID = p.ProductID
WHERE p.Name = 'AWC Logo Cap'

In [11]:
db.run(query)

'[(9,)]'

### Let's work with Agents to give some reasoning capabilities to our chatbot. 
GPT 4 is mandatory to run this section. GPT3.5 will make mistakes.

In [12]:
def init_llm(model=OPENAI_GPT4_DEPLOYMENT_NAME,
             deployment_name=OPENAI_GPT4_DEPLOYMENT_NAME,
             openai_api_version="2024-02-15-preview",
             temperature=0,
             max_tokens=400
             ):

    llm = AzureChatOpenAI(deployment_name=deployment_name,
                            model=model,
                            api_key=OPENAI_API_KEY,
                            openai_api_version=openai_api_version,
                            azure_endpoint=OPENAI_DEPLOYMENT_ENDPOINT,
                            temperature=temperature,
                            max_tokens=max_tokens
                            )
    return llm

llm = init_llm()

In [13]:
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

agent_executor = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    top_k=30,
    agent_type="openai-tools",
    verbose=True
)

In [18]:
response = agent_executor.invoke("Give me the breakdown of sales by city and country. Only include the 10 cities with the highest sales in descending order.")

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with ``


Address, Customer, CustomerAddress, Product, ProductCategory, ProductDescription, ProductModel, ProductModelProductDescription, SalesOrderDetail, SalesOrderHeader
Invoking: `sql_db_schema` with `{'table_names': 'SalesOrderHeader,Address'}`



CREATE TABLE [SalesLT].[Address] (
	[AddressID] INTEGER NOT NULL IDENTITY(1,1),
	[AddressLine1] NVARCHAR(60) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[AddressLine2] NVARCHAR(60) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[City] NVARCHAR(30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[StateProvince] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CountryRegion] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PostalCode] NVARCHAR(15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	rowguid UNIQUEIDENTIFIER NOT NULL DEFAULT (newid()),
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_Address_AddressID] PRIMARY KEY ([AddressID])
)

/*
3 rows from Address table:
AddressID	AddressLine1	AddressLine2	City	StateProvince	CountryRegion	PostalCode	rowguid	ModifiedDate
9	8713 Yosemite Ct.	None	Bothell	Washington	United States	98011	268af621-76d7-4c78-9441-144fd139821a	2006-07-01 00:00:00
11	1318 Lasalle Street	None	Bothell	Washington	United States	98011	981b3303-aca2-49c7-9a96-fb670785b269	2007-04-01 00:00:00
25	9178 Jumping St.	None	Dallas	Texas	United States	75201	c8df3bd9-48f0-4654-a8dd-14a67a84d3c6	2006-09-01 00:00:00
*/


CREATE TABLE [SalesLT].[SalesOrderHeader] (
	[SalesOrderID] INTEGER NOT NULL DEFAULT (NEXT VALUE FOR [SalesLT].[SalesOrderNumber]),
	[RevisionNumber] TINYINT NOT NULL DEFAULT ((0)),
	[OrderDate] DATETIME NOT NULL DEFAULT (getdate()),
	[DueDate] DATETIME NOT NULL,
	[ShipDate] DATETIME NULL,
	[Status] TINYINT NOT NULL DEFAULT ((1)),
	[OnlineOrderFlag] BIT NOT NULL DEFAULT ((1)),
	[SalesOrderNumber] AS ((isnull(N'SO'+CONVERT([nvarchar](23),[SalesOrderID],(0)),N'*** ERROR ***'))) NOT NULL,
	[PurchaseOrderNumber] NVARCHAR(25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AccountNumber] NVARCHAR(15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CustomerID] INTEGER NOT NULL,
	[ShipToAddressID] INTEGER NULL,
	[BillToAddressID] INTEGER NULL,
	[ShipMethod] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CreditCardApprovalCode] VARCHAR(15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SubTotal] MONEY NOT NULL DEFAULT ((0.00)),
	[TaxAmt] MONEY NOT NULL DEFAULT ((0.00)),
	[Freight] MONEY NOT NULL DEFAULT ((0.00)),
	[TotalDue] AS ((isnull(([SubTotal]+[TaxAmt])+[Freight],(0)))) NOT NULL,
	[Comment] NVARCHAR(max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	rowguid UNIQUEIDENTIFIER NOT NULL DEFAULT (newid()),
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_SalesOrderHeader_SalesOrderID] PRIMARY KEY ([SalesOrderID]),
	CONSTRAINT [FK_SalesOrderHeader_Address_BillTo_AddressID] FOREIGN KEY([BillToAddressID]) REFERENCES [SalesLT].[Address] ([AddressID]),
	CONSTRAINT [FK_SalesOrderHeader_Address_ShipTo_AddressID] FOREIGN KEY([ShipToAddressID]) REFERENCES [SalesLT].[Address] ([AddressID]),
	CONSTRAINT [FK_SalesOrderHeader_Customer_CustomerID] FOREIGN KEY([CustomerID]) REFERENCES [SalesLT].[Customer] ([CustomerID])
)

/*
3 rows from SalesOrderHeader table:
SalesOrderID	RevisionNumber	OrderDate	DueDate	ShipDate	Status	OnlineOrderFlag	SalesOrderNumber	PurchaseOrderNumber	AccountNumber	CustomerID	ShipToAddressID	BillToAddressID	ShipMethod	CreditCardApprovalCode	SubTotal	TaxAmt	Freight	TotalDue	Comment	rowguid	ModifiedDate
71774	2	2008-06-01 00:00:00	2008-06-13 00:00:00	2008-06-08 00:00:00	5	False	SO71774	PO348186287	10-4020-000609	29847	1092	1092	CARGO TRANSPORT 5	None	880.3484	70.4279	22.0087	972.7850	None	89e42cdc-8506-48a2-b89b-eb3e64e3554e	2008-06-08 00:00:00
71776	2	2008-06-01 00:00:00	2008-06-13 00:00:00	2008-06-08 00:00:00	5	False	SO71776	PO19952192051	10-4020-000106	30072	640	640	CARGO TRANSPORT 5	None	78.8100	6.3048	1.9703	87.0851	None	8a3448c5-e677-4158-a29b-dd33069be0b0	2008-06-08 00:00:00
71780	2	2008-06-01 00:00:00	2008-06-13 00:00:00	2008-06-08 00:00:00	5	False	SO71780	PO19604173239	10-4020-000340	30113	653	653	CARGO TRANSPORT 5	None	38418.6895	3073.4952	960.4672	42452.6519	None	a47665d2-7ac9-4cf3-8a8b-2a3883554284	2008-06-08 00:00:00
*/
Invoking: `sql_db_query_checker` with `SELECT TOP 10 a.City, a.CountryRegion, SUM(soh.TotalDue) AS TotalSales
FROM SalesLT.Address AS a
JOIN SalesLT.SalesOrderHeader AS soh ON a.AddressID = soh.ShipToAddressID
GROUP BY a.City, a.CountryRegion
ORDER BY TotalSales DESC`


The provided SQL query does not exhibit any of the common mistakes listed. It correctly uses JOIN for combining tables, GROUP BY for aggregation, and ORDER BY for sorting the results. There is no use of NOT IN, UNION/UNION ALL, BETWEEN, or any functions that require a specific number of arguments. The identifiers are not quoted, but they do not need to be since they do not contain special characters or reserved keywords. The data types for the join condition are assumed to be correct as there is no indication of a mismatch. The query also correctly uses SUM for aggregation and aliases for columns.

Here is the original query reproduced:

```sql
SELECT TOP 10 a.City, a.CountryRegion, SUM(soh.TotalDue) AS TotalSales
FROM SalesLT.Address AS a
JOIN SalesLT.SalesOrderHeader AS soh ON a.AddressID = soh.ShipToAddressID
GROUP BY a.City, a.CountryRegion
ORDER BY TotalSales DESC
```
Invoking: `sql_db_query` with `SELECT TOP 10 a.City, a.CountryRegion, SUM(soh.TotalDue) AS TotalSales
FROM SalesLT.Address AS a
JOIN SalesLT.SalesOrderHeader AS soh ON a.AddressID = soh.ShipToAddressID
GROUP BY a.City, a.CountryRegion
ORDER BY TotalSales DESC`


[('London', 'United Kingdom', Decimal('206736.1667')), ('Woolston', 'United Kingdom', Decimal('119960.8240')), ('Union City', 'United States', Decimal('92663.5609')), ('Liverpool', 'United Kingdom', Decimal('86222.8072')), ('Fullerton', 'United States', Decimal('81834.9826')), ('Gloucestershire', 'United Kingdom', Decimal('70698.9922')), ('Sherman Oaks', 'United States', Decimal('63686.2708')), ('Cerritos', 'United States', Decimal('45992.3665')), ('Van Nuys', 'United States', Decimal('43962.7901')), ('West Sussex', 'United Kingdom', Decimal('42452.6519'))]The 10 cities with the highest sales, in descending order, are:

1. London, United Kingdom - $206,736.17
2. Woolston, United Kingdom - $119,960.82
3. Union City, United States - $92,663.56
4. Liverpool, United Kingdom - $86,222.81
5. Fullerton, United States - $81,834.98
6. Gloucestershire, United Kingdom - $70,698.99
7. Sherman Oaks, United States - $63,686.27
8. Cerritos, United States - $45,992.37
9. Van Nuys, United States - $43,962.79
10. West Sussex, United Kingdom - $42,452.65

Please note that the sales figures are represented in the local currency and have been rounded to two decimal places.

> Finished chain.

In [19]:
response = agent_executor.invoke("Dá-me as vendas por cidade e país. Inclui apenas as 10 cidades com as vendas mais altas por ordem decrescente.")

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with ``


Address, Customer, CustomerAddress, Product, ProductCategory, ProductDescription, ProductModel, ProductModelProductDescription, SalesOrderDetail, SalesOrderHeader
Invoking: `sql_db_schema` with `{'table_names': 'SalesOrderHeader,Address'}`



CREATE TABLE [SalesLT].[Address] (
	[AddressID] INTEGER NOT NULL IDENTITY(1,1),
	[AddressLine1] NVARCHAR(60) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[AddressLine2] NVARCHAR(60) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[City] NVARCHAR(30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[StateProvince] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CountryRegion] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PostalCode] NVARCHAR(15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	rowguid UNIQUEIDENTIFIER NOT NULL DEFAULT (newid()),
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_Address_AddressID] PRIMARY KEY ([AddressID])
)

/*
3 rows from Address table:
AddressID	AddressLine1	AddressLine2	City	StateProvince	CountryRegion	PostalCode	rowguid	ModifiedDate
9	8713 Yosemite Ct.	None	Bothell	Washington	United States	98011	268af621-76d7-4c78-9441-144fd139821a	2006-07-01 00:00:00
11	1318 Lasalle Street	None	Bothell	Washington	United States	98011	981b3303-aca2-49c7-9a96-fb670785b269	2007-04-01 00:00:00
25	9178 Jumping St.	None	Dallas	Texas	United States	75201	c8df3bd9-48f0-4654-a8dd-14a67a84d3c6	2006-09-01 00:00:00
*/


CREATE TABLE [SalesLT].[SalesOrderHeader] (
	[SalesOrderID] INTEGER NOT NULL DEFAULT (NEXT VALUE FOR [SalesLT].[SalesOrderNumber]),
	[RevisionNumber] TINYINT NOT NULL DEFAULT ((0)),
	[OrderDate] DATETIME NOT NULL DEFAULT (getdate()),
	[DueDate] DATETIME NOT NULL,
	[ShipDate] DATETIME NULL,
	[Status] TINYINT NOT NULL DEFAULT ((1)),
	[OnlineOrderFlag] BIT NOT NULL DEFAULT ((1)),
	[SalesOrderNumber] AS ((isnull(N'SO'+CONVERT([nvarchar](23),[SalesOrderID],(0)),N'*** ERROR ***'))) NOT NULL,
	[PurchaseOrderNumber] NVARCHAR(25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AccountNumber] NVARCHAR(15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CustomerID] INTEGER NOT NULL,
	[ShipToAddressID] INTEGER NULL,
	[BillToAddressID] INTEGER NULL,
	[ShipMethod] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CreditCardApprovalCode] VARCHAR(15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SubTotal] MONEY NOT NULL DEFAULT ((0.00)),
	[TaxAmt] MONEY NOT NULL DEFAULT ((0.00)),
	[Freight] MONEY NOT NULL DEFAULT ((0.00)),
	[TotalDue] AS ((isnull(([SubTotal]+[TaxAmt])+[Freight],(0)))) NOT NULL,
	[Comment] NVARCHAR(max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	rowguid UNIQUEIDENTIFIER NOT NULL DEFAULT (newid()),
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_SalesOrderHeader_SalesOrderID] PRIMARY KEY ([SalesOrderID]),
	CONSTRAINT [FK_SalesOrderHeader_Address_BillTo_AddressID] FOREIGN KEY([BillToAddressID]) REFERENCES [SalesLT].[Address] ([AddressID]),
	CONSTRAINT [FK_SalesOrderHeader_Address_ShipTo_AddressID] FOREIGN KEY([ShipToAddressID]) REFERENCES [SalesLT].[Address] ([AddressID]),
	CONSTRAINT [FK_SalesOrderHeader_Customer_CustomerID] FOREIGN KEY([CustomerID]) REFERENCES [SalesLT].[Customer] ([CustomerID])
)

/*
3 rows from SalesOrderHeader table:
SalesOrderID	RevisionNumber	OrderDate	DueDate	ShipDate	Status	OnlineOrderFlag	SalesOrderNumber	PurchaseOrderNumber	AccountNumber	CustomerID	ShipToAddressID	BillToAddressID	ShipMethod	CreditCardApprovalCode	SubTotal	TaxAmt	Freight	TotalDue	Comment	rowguid	ModifiedDate
71774	2	2008-06-01 00:00:00	2008-06-13 00:00:00	2008-06-08 00:00:00	5	False	SO71774	PO348186287	10-4020-000609	29847	1092	1092	CARGO TRANSPORT 5	None	880.3484	70.4279	22.0087	972.7850	None	89e42cdc-8506-48a2-b89b-eb3e64e3554e	2008-06-08 00:00:00
71776	2	2008-06-01 00:00:00	2008-06-13 00:00:00	2008-06-08 00:00:00	5	False	SO71776	PO19952192051	10-4020-000106	30072	640	640	CARGO TRANSPORT 5	None	78.8100	6.3048	1.9703	87.0851	None	8a3448c5-e677-4158-a29b-dd33069be0b0	2008-06-08 00:00:00
71780	2	2008-06-01 00:00:00	2008-06-13 00:00:00	2008-06-08 00:00:00	5	False	SO71780	PO19604173239	10-4020-000340	30113	653	653	CARGO TRANSPORT 5	None	38418.6895	3073.4952	960.4672	42452.6519	None	a47665d2-7ac9-4cf3-8a8b-2a3883554284	2008-06-08 00:00:00
*/
Invoking: `sql_db_query_checker` with `SELECT TOP 10 a.City, a.CountryRegion, SUM(soh.TotalDue) AS TotalSales
FROM SalesLT.Address AS a
JOIN SalesLT.SalesOrderHeader AS soh ON a.AddressID = soh.ShipToAddressID
GROUP BY a.City, a.CountryRegion
ORDER BY TotalSales DESC`


The provided SQL query does not exhibit any of the common mistakes listed. It correctly uses JOIN for combining tables, GROUP BY for aggregation, and ORDER BY for sorting the results. There is no use of NOT IN, UNION/UNION ALL, BETWEEN, or any functions that require a specific number of arguments. The identifiers are not quoted, but they do not need to be since they do not contain special characters or reserved keywords. The data types for the join condition are assumed to be correct as they are both AddressID fields. There is no explicit casting, but none seems necessary given the context.

Here is the original query reproduced:

```sql
SELECT TOP 10 a.City, a.CountryRegion, SUM(soh.TotalDue) AS TotalSales
FROM SalesLT.Address AS a
JOIN SalesLT.SalesOrderHeader AS soh ON a.AddressID = soh.ShipToAddressID
GROUP BY a.City, a.CountryRegion
ORDER BY TotalSales DESC
```
Invoking: `sql_db_query` with `SELECT TOP 10 a.City, a.CountryRegion, SUM(soh.TotalDue) AS TotalSales
FROM SalesLT.Address AS a
JOIN SalesLT.SalesOrderHeader AS soh ON a.AddressID = soh.ShipToAddressID
GROUP BY a.City, a.CountryRegion
ORDER BY TotalSales DESC`


[('London', 'United Kingdom', Decimal('206736.1667')), ('Woolston', 'United Kingdom', Decimal('119960.8240')), ('Union City', 'United States', Decimal('92663.5609')), ('Liverpool', 'United Kingdom', Decimal('86222.8072')), ('Fullerton', 'United States', Decimal('81834.9826')), ('Gloucestershire', 'United Kingdom', Decimal('70698.9922')), ('Sherman Oaks', 'United States', Decimal('63686.2708')), ('Cerritos', 'United States', Decimal('45992.3665')), ('Van Nuys', 'United States', Decimal('43962.7901')), ('West Sussex', 'United Kingdom', Decimal('42452.6519'))]As vendas por cidade e país, incluindo apenas as 10 cidades com as vendas mais altas por ordem decrescente, são:

1. London, United Kingdom - $206,736.17
2. Woolston, United Kingdom - $119,960.82
3. Union City, United States - $92,663.56
4. Liverpool, United Kingdom - $86,222.81
5. Fullerton, United States - $81,834.98
6. Gloucestershire, United Kingdom - $70,698.99
7. Sherman Oaks, United States - $63,686.27
8. Cerritos, United States - $45,992.37
9. Van Nuys, United States - $43,962.79
10. West Sussex, United Kingdom - $42,452.65

Os valores estão em dólares americanos.

> Finished chain.